<div class="topNavWrapper">
	<div class="topNav">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="navbar">
						<div class="navbar-inner">
							<div class="container-fluid">
								<a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
								<a href="/videos/" class="brand">全部</a>
								<div class="nav-collapse collapse navbar-responsive-collapse">
                                    <a href="/mobile-index/" class="brand">
									<i class="fa fa-search" style="margin-top:2px;margin-left:30px;font-size:16px">搜索视频</i>
                                    </a>

                                    <!--
									<form class="aw-search-box navbar-form navbar-left" role="search" action="/search/" style="float: left;">
										<div class="form-group" style="position:relative">
											<input type="text" class="form-control " placeholder="搜索" name="title" style="width:50px;">
											<input type="hidden" value="1" name="category">
											<span title="搜索" id="global_search_btns" onclick="">
												<i class="fa fa-search" style="margin-top: 12px; "></i>
											</span>
											<input type="text" class="form-control " placeholder="搜索" name="title" style="background-color: #f8f8f8; margin-top: -2px; width:70px;">
										</div>
									</form>
                                    -->
									<ul class="nav pull-right">
										<li class="divider-vertical">
										</li>
										<li class="dropdown">
											<a data-toggle="dropdown" class="dropdown-toggle" href="#"><strong class="caret"></strong></a>
											<ul class="dropdown-menu">

												{% if login_state == False %}
												<li class="ng_btn" id="unlogin" data-toggle="modal" data-target="/login/">
													<a href="/wechat-login/">登陆</a>
												</li>

												<li class="ng_btn" id="unregeister" data-toggle="modal" data-target="#register">
													<a href="/register/">注册</a>
												</li>

												{% else %}

												<!--<li><a href="http://ask.julyedu.com/inbox/"><i class="icon icon-inbox"></i> 私信<span class="badge badge-important hide" id="inbox_unread">0</span></a>
										</li>-->
												<!--<li><a href="/space/shopping-cart"><i class="icon icon-cart"></i> &nbsp;&nbsp;购 物 车</a>
												</li>-->
												<li class="ng_btn"><a href="/space/"><i class="icon icon-draft"></i> &nbsp;&nbsp;历史记录</a>
												</li>
												<li class="ng_btn"><a href="/space/collect"><i class="icon icon-draft"></i> &nbsp;&nbsp;收藏课程</a>
												</li>
												<li class="ng_btn"><a href="/space/paid"><i class="icon icon-attach"></i> &nbsp;&nbsp;已买课程</a>
												</li>

												<!--<li><a href="/user/setprofile/"><i class="icon icon-setting"></i> &nbsp;&nbsp;个人设置</a>
												</li>-->

												<li class="ng_btn" id="logout"><a href="/logout/"><i class="icon icon-logout"></i> &nbsp;&nbsp;退 出</a>
												</li>

												{% endif %}

											</ul>
										</li>
									</ul>
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
.ng_btn{
    height:35px;
    text-align:center;
}
</style>
