<!DOCTYPE html>
<html>

	{% include "include.html"%}

	<link rel="stylesheet" href="/static/css/txkt/courseList.css">
	<link rel="stylesheet" href="/static/css/txkt/common.css">
	<link rel="stylesheet" href="/static/css/july/entrance.css">

	<body>
		{% include "header.html" %}

        <div style="height:60px; background-color:#f8f8f8; width:100%;">
        </div>
		<div class="entrance">
            <!--
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb nav-director">
                                <li><a href="/">首页</a></li>
                                <li><a class="active" href="/course/category/2">线下课程</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            -->

			<div class="container content">

                {%for course in offcourses%}
				<div class="row">
					<div class="col-md-12">
                        <h3 class="category_header">{{course.status}}</h3></div>
				</div>
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<div class="course_img" style="margin-left:25px; margin-right:15px;">
                            <img src="{{course.img_path}}">
						</div>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="coures_detail">
                            <h3>{{course.title}}</h3>
                            <p>{{course.short_info}}</p>
							<ul>
								<li><strong>开班时间：</strong>
                                <span>{{course.start_time}}</span></li>
							</ul>
                            <a href="/offline-detail/?id={{course.id}}">查看详情</a>
						</div>
					</div>
				</div>
                {%endfor%}

			</div>

                <div class="clear" style="margin-top:50px;"></div>
                <div class="sort-page">
                    <a href="{{get_content}}page={{pre_page}}" class="page-btn" style="width: 100px;">上一页</a>
                    {% for i in pages_before %}
                    <a href="{{get_content}}page={{i}}" data-page={{i}} class="page-btn ">{{i}}</a>
                    {% endfor %}
                    <a href="{{get_content}}page={{cur_page}}" data-page={{cur_page}} class="page-btn page-btn-cur">{{cur_page}}</a>
                    {% for i in pages_after %}
                    <a href="{{get_content}}page={{i}}" data-page={{i}} class="page-btn ">{{i}}</a>
                    {% endfor %}
                    <a href="{{get_content}}page={{after_page}}" class="page-btn" style="width: 100px;">下一页</a>
                </div>

		</div>


		{% include "footer.html" %}
	</body>

</html>
