<!DOCTYPE html>
<html>
	{% include "include.html"%}
	<link rel="stylesheet" href="/static/css/txkt/manage.css" />

	<link rel="stylesheet" type="text/css" href="/static/css/confirm/xcConfirm.css"/>
	<script src="/static/css/confirm/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="/static/css/confirm/xcConfirm.js" type="text/javascript"></script>

    <script>
        function click_delete_exam(self)
        {
            var data = "确定要删除该试题？".toString();
            document.getElementById('temp-delete-id').value = document.getElementById(self.id).getAttribute('data-exam-id');
			window.wxc.xcConfirm(data, window.wxc.xcConfirm.typeEnum.warning);
        }

        function my_ok_func()
        {
            do_delete_exam();
        }

        function do_delete_exam()
        {
            var exam_id = document.getElementById('temp-delete-id').value;
            $.ajax({
                url: "/delete-exam/",
                type: "GET",
                dataType: "json",
                data:{
                    exam_id: exam_id,
                },
                success:function(obj){
                    if( obj['state'] == 'success' ){
                        var data = '删除试题成功！';
			            window.wxc.xcConfirm(data, window.wxc.xcConfirm.typeEnum.info);
                    }
                    else{
                        var data = '删除试题失败！';
			            window.wxc.xcConfirm(data, window.wxc.xcConfirm.typeEnum.info);
                    }
                }
            });
        }
    </script>

	<body>
		{% include "header.html" %}
        <input type="text" id="temp-delete-id" value="" style="display:none;"  >

		<div class="site_container">
			<div class="container_inner contain_guide">
				<!-- 导航栏 开始 -->
				<div class="user_navigate" id="side_nav">
					<div class="user_info">
						<div class="navi_avater">
							<a href="/user/setprofile/">
								<img src={{account.user_pic}} class="__avatar" width="120" height="120" style="visibility: visible;">
								<span class="mask"></span>
							</a>
						</div>
						<h4 class="user_title __nickname">{{account.nickname}}</h4>
						<div class="level_option">
							<a href="/u/hlw/hlw_index.html" class="_icon_vip" style="visibility: hidden; display: none;" _hot="uc.side.hlwicon"><i class="ico_vip"></i></a>
							<a target="_blank" href="javascript:" class="_icon_vplus" style="visibility: hidden; display: none;" _hot="uc.side.vplusicon"><i class="icon_vplus"></i></a>
						</div>
					</div>

					<ul class="navigate_list">

						<li class="item ">
							<a href="/kaoshi/groups/" class="navi_inner _vmanage" _hot="uc.side._vmanage"><i class="icon2_vmanage"></i><span class="text">群组管理</span></a>
						</li>
						<li class="item ">
							<a href="/banji/courses/" class="navi_inner _vmanage" _hot="uc.side._vmanage"><i class="icon2_vmanage"></i><span class="text">课程管理</span></a>
						</li>
						<li class="item ">
							<a href="/kaoshi/exams/" class="navi_inner _vmanage current" _hot="uc.side._vmanage"><i class="icon2_vmanage"></i><span class="text">试卷管理</span></a>
						</li>

					</ul>
				</div>
				<!-- 导航栏 结束 -->

				<div class="main_content" id="video_view">
					<ul class="mod_tab_list">
						<li class="item current _videoBtn">
							<a class="txt">试题 {{exams_num}} </a>
						</li>
                        <a href="/create-exam/" class="btn btn-primary ml-3" style="float:right; margin-right: 30px;background-color: #60b044; color: #fff; border-color: #5ca941;" target="_blank">
                            <!-- <svg  aria-hidden="true" class="octicon octicon-repo" height="16" version="1.1" viewBox="0 0 12 16" width="12"> -->
                                <!-- <path  d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path> -->
                            <!-- </svg> -->
                            + 新建试题
                        </a>
					</ul>


					<ul class="video_list" id="video_list">
						<li class="item_title">
							<div class="item_a">
								<input type="checkbox" class="_check_all">
							</div>
                            <div class="item_b"><span class="text">试题概要</span></div>
                            <div class="item_c">指数</div>
                            <!-- <a href="" class="item_d"><i class="icon-delete"></i> 删除</a> -->
						</li>

						{% for exam in exams %}
						<li class="list_item">
							<div class="item_a">
								<input type="checkbox" class="_check_video" data-vid="o0163afhpan"> </div>
							<div class="item_b">
                                <a href="/examSummary/?exam_id={{exam.id}}" target="_blank" class="img">
                                    <img onerror="picerr(this)" src='{{exam.img_path}}' alt="testd" width="175px" height="100px">
                                </a>
								<div class="video_detail" style="margin-top: 10px;">
									<h3 class="title"> <a title="testd">{{exam.title}}</a> </h3>
									<h6 class="desc"> 开始时间：{{exam.start_time}} <span class="album_info _covers" title="">  </span>
									</h6>
									<h4 class="desc"> 结束时间 : {{exam.end_time}}
									</h4>
								</div>
							</div>
							<div class="item_c">
								<ol class="trend_list">
                                    <li class="item"><i class="icon2_play"></i><span class="nums">重考: {{exam.max_retry_num}}</span></li>
                                    <li class="item"><i class="icon2_star"></i><span class="nums">考生: {{exam.allow_accounts_num}}</span></li>
								</ol>
							</div>
							<div class="item_d">
								<ol class="option_list" style="font-weight:bold;">
									<li class="item">
										<a href="/update-exam/?exam_id={{exam.id}}" target="_blank" class="btn_normal _edit_video" data-vid={{exam.id}}>
											<i class="icon_edited"></i>
											<span style="color: #60b044;" class="inner">编辑</span>
										</a>
                                        <a href="javascript:void(0)" id="id-delete-{{exam.id}}" onclick="click_delete_exam(this)" class="btn_normal _del_video" data-exam-id={{exam.id}} >
											<i class="icon_delete"></i>
											<span class="inner">删除</span>
										</a>
									</li>

									<li id='id-add-intrest' class="item" style="margin-top: 2px;">
                                        <a href="/management/exam-data/?exam_id={{exam.id}}" target="_blank" class="btn_normal _move_cover">
											<i class="icon_add"></i>
											<span style="color:#ff7a0d;" class="inner">考试结果</span>
										</a>
									</li>

								</ol>
							</div>
						</li>
						{% endfor %}

					</ul>

					<div class="mod_pages">
						<a href="/kaoshi/exams/?page={{pre_page}}" class="page-btn" style="width: 100px;">上一页</a> {% for i in pages_before %}
						<a href="/kaoshi/exams/?page={{i}}" data-page={{i}} class="page-btn ">{{i}}</a> {% endfor %}
						<a href="/kaoshi/exams/?page={{cur_page}}" data-page={{cur_page}} class="current">{{cur_page}}</a> {% for i in pages_after %}
						<a href="/kaoshi/exams/?page={{i}}" data-page={{i}} class="page-btn ">{{i}}</a> {% endfor %}
						<a href="/kaoshi/exams/?page={{after_page}}" data-page="2" class="page-btn" style="width: 100px;">下一页</a>
					</div>

				</div>


			</div>

		</div>

		{% include "footer.html" %}
	</body>

</html>
