<html>

	{% include "include.html"%}
	<link rel="stylesheet" href="/static/css/onlineExam/exercise.css">

    <script>
        function select(id){
            var item = document.getElementById(id);
            var label = document.getElementById("label-"+id);
            if(item.className != "subject-options selected"){
                item.className = "subject-options selected";
                label.className = "radio checked";
            }
            else{
                item.className = "subject-options";
                label.className = "radio";
            }
        }
    </script>

	<body>
		{% include "header.html" %}
		<div class="nk-main  clearfix">
			<div class="module-box subject-box">
				<div class="nowcoder-topic">
					<div class="subject-progress">
						<div class="tooltip fade top in" style="left: 20.5% ; display: block;">
							<div class="tooltip-arrow"></div>
							<div class="tooltip-inner">7/26</div>
						</div>
						<div class="progress2">
							<div style="width:26%" class="progress-bar2"></div>
						</div>
						<a href="javascript:void(0);" class="progress-time" title="暂停">
							<i class="ico-time-control"></i>
							<span id="id-time-count" data-left="2760" data-time="2640" class="time-text" style="font-size: 24px;">00:38:06</span>
						</a>
					</div>
					<div class="subject-title">[单项选择题]</div>
					<input type="text" id="id-question-kind" value="1" style="display:none;">

					<div class="subject-main">
						<div class="subject-content">
							<div class="subject-question">
								以下是java concurrent包下的4个类，选出差别最大的一个
							</div>

                            <div onClick="select('1');">
							<a id="1" href="javascript:void(0);" class="subject-options selected" select-flag="True">
								<label id="label-1" class="radio checked" >
									<span class="icons"></span>
                                    <!-- <input type="radio" data-toggle="radio" value="45360" checked="checked"> -->
									<pre>Semaphkfjjaksdjkfjaksdfj</pre>
								</label>
                                <input style="display:none;" type="radio" data-toggle="radio" value="45360" checked="checked">
							</a>
                            </div>

                            <div onClick="select('2');">
							<a id="2" href="javascript:void(0);" class="subject-options" select-flag="False">
								<label id="label-2" class="radio" >
									<span class="icons"></span>
                                    <!-- <input type="radio" data-toggle="radio" value="45360" checked="checked"> -->
									<pre>Semaphkfjjaksdjkfjaksdfj</pre>
								</label>
                                <input style="display:none;" type="radio" data-toggle="radio"  checked="">
							</a>
                            </div>

                            <div onClick="select('3');">
							<a id="3" href="javascript:void(0);" class="subject-options" select-flag="False">
								<label id="label-3" class="radio" >
									<span class="icons"></span>
                                    <!-- <input type="radio" data-toggle="radio" value="45360" checked="checked"> -->
									<pre>Semaphkfjjaksdjkfjaksdfj</pre>
								</label>
                                <input style="display:none;" type="radio" data-toggle="radio"  checked="">
							</a>
                            </div>

                            <div onClick="select('4');">
							<a id="4" href="javascript:void(0);" class="subject-options" select-flag="False">
								<label id="label-4" class="radio" >
									<span class="icons"></span>
                                    <!-- <input type="radio" data-toggle="radio" value="45360" checked="checked"> -->
									<pre>Semaphkfjjaksdjkfjaksdfj</pre>
								</label>
                                <input style="display:none;" type="radio" data-toggle="radio"  checked="">
							</a>
                            </div>
						</div>

						<div class="subject-action clearfix">
							<!--<div class="subject-opr">
								<a href="javascript:void(0);" data-id="44549" class="js-follow collect-subject nc-req-auth">收藏本题</a>
							</div>-->
							<div class="subject-next">
								<form id="submitForm" method="post" action="/question/next?pid=1400643&amp;qid=44549&amp;tid=3071668">
									<input type="hidden" name="content" id="answer">
									<input id="aheadFinish" type="submit" name="button" class="btn warning-btn" value="提前交卷">
									<input id="next" type="submit" name="button" class="btn btn-primary2" value="下一题">
									<input type="hidden" name="token" value="">
								</form>
							</div>
						</div>
					</div>
					<!-- 展开的时候加class:open -->
					<div class="answer-sheet-box open">
						<!-- <a href="javascript:void(0)" class="card-unfold">展开答题卡</a> -->
						<!-- <a href="javascript:void(0)" class="card-fold">收起答题卡</a> -->
                        <p>答题卡</p>
						<ul class="answer-sheet-num clearfix">
							<li><a href="javascript:void(0);" class="answer-done" data-qid="44555">1</a></li>
							<li><a href="javascript:void(0);" class="answer-done" data-qid="44554">2</a></li>
							<li><a href="javascript:void(0);" class="answer-done" data-qid="44553">3</a></li>
							<li><a href="javascript:void(0);" class="answer-done" data-qid="44552">4</a></li>
							<li><a href="javascript:void(0);" class="answer-done" data-qid="44551">5</a></li>
							<li><a href="javascript:void(0);" class="answer-done" data-qid="44550">6</a></li>
							<li><a href="javascript:void(0);" class="answering-num" data-qid="44549">7</a></li>
							<li><a href="javascript:void(0);" data-qid="44548">8</a></li>
							<li><a href="javascript:void(0);" data-qid="44547">9</a></li>
							<li><a href="javascript:void(0);" data-qid="44546">10</a></li>
							<li><a href="javascript:void(0);" data-qid="44545">11</a></li>
							<li><a href="javascript:void(0);" data-qid="44544">12</a></li>
							<li><a href="javascript:void(0);" data-qid="44543">13</a></li>
							<li><a href="javascript:void(0);" class="answer-done" data-qid="44542">14</a></li>
							<li><a href="javascript:void(0);" class="answer-done" data-qid="44541">15</a></li>
							<li><a href="javascript:void(0);" class="answer-done" data-qid="44540">16</a></li>
							<li><a href="javascript:void(0);" class="answer-done" data-qid="44539">17</a></li>
							<li><a href="javascript:void(0);" class="answer-done" data-qid="44538">18</a></li>
							<li><a href="javascript:void(0);" class="answer-done" data-qid="44537">19</a></li>
							<li><a href="javascript:void(0);" class="answer-done" data-qid="44536">20</a></li>
							<li><a href="javascript:void(0);" data-qid="44535">21</a></li>
							<li><a href="javascript:void(0);" class="answer-done" data-qid="44534">22</a></li>
							<li><a href="javascript:void(0);" data-qid="44533">23</a></li>
							<li><a href="javascript:void(0);" class="answer-done" data-qid="44532">24</a></li>
							<li><a href="javascript:void(0);" data-qid="44531">25</a></li>
							<li><a href="javascript:void(0);" class="answer-done" data-qid="44530">26</a></li>
						</ul>
					</div>

				</div>
				<input type="hidden" id="jsQuestionInfo" data-pid="1400643" data-tid="3071668" data-qid="44549" data-total="26" data-left="10">
			</div>

		</div>
	</body>

    <script>
        var time = 3600;
        window.onload=countdown();
        function countdown(){
            var cc = time;
            var d = Math.floor(cc/(3600*24));
            var h = Math.floor( (cc-d*3600*24)/3600 );
            var m = Math.floor(((cc-d*3600*24-h*3600))/60);
            var s = Math.floor(cc-d*3600*24-h*3600-m*60);
            var hh = h.toString();
            var mm = m.toString();
            var ss = s.toString();
            if(h < 10){
                hh = "0" + hh;
            }
            if(m < 10){
                mm = "0" + mm;
            }
            if(s < 10){
                ss = "0" + ss;
            }

            var time_str = hh + ":" + mm + ":" + ss;
            document.getElementById("id-time-count").innerText = time_str;
            time = time - 1;

            setTimeout("countdown()",1000);
        }
    </script>


</html>
