<!DOCTYPE html>
<html>

	{% include "mobile/include.html"%}

	<link rel="stylesheet" href="/static/css/mobile/play.css" />
	<link rel="stylesheet" href="/static/css/july/mobile_lectures.css">
	<link rel="stylesheet" type="text/css" href="/static/css/mobile/videos.css">
    <!-- <link rel="stylesheet" href="/static/css/card/edu_taocan_detail.css"> -->
	<!-- <link rel="stylesheet" href="/static/css/txkt/play.css"> -->

    <!-- <link rel="stylesheet" type="text/css" href="/static/css/confirm/xcConfirm.css"/> -->
    <!-- <script src="/static/css/confirm/jquery-1.9.1.min.js" type="text/javascript"></script> -->
	<!-- <script src="/static/css/confirm/xcConfirm.js" type="text/javascript"></script> -->

	<!-- <script type="text/javascript" src="/static/js/popwin.js"></script> -->


    <script>
        function check_auth(){
            var nick_name = '{{nickname}}';
            if(nick_name == 'NONE_USER'){
                window.location.href = "http://el.tropic.com.cn/videos/play_auth/?video-id={{video.id}}"
                return 0;
            }
        }
        var click_pay_flag = 0;
		function show_pay() {
            check_auth();

            click_pay_flag = 0;

			$.ajax({
				type: "GET",
				url: "/card-ready-pay/",
				data: {
					card_id: {{card.id}},
				},
				dataType: "json",
				success: function(data) {
					if(data['state'] == 'fail')
					{
						show_msg('生成订单失败，请重试！');
					}
					else if(data['state'] == 'ok'){
                        document.getElementById('id_order_title').innerHTML = "(订单ID:" + data['order_id'] + ")" + "{{card.card_name}}";
			            document.getElementById('id_order_price').innerHTML = data['order_price']
			            document.getElementById('id-go-pay').style.display = "block";
					}
					else if (data['state'] == 'paid')
					{
						show_msg("该订单已经完全付款，请勿重复提交！")
					}
                }
            });
		}

		function hide_pay() {
			document.getElementById('id-go-pay').style.display = "none";
		}

        var trade_state = "NOPAY";
        var Timer;
        var order_num = "";
        var PAYCHECK_TIME = 0;
        function paycheck()
        {
            if(PAYCHECK_TIME>=200){
                return 0;
            }
            $.getJSON('/ajax_check/',
                    {out_trade_no: order_num},
                    function(result){
                        trade_state = result['trade_state'];
                        if(trade_state == "SUCCESS")
                        {
                            clearInterval(Timer);
                            location.href = "/videos/play/?MCM=1&card_id={{card.id}}";
                        }
                        else if(result['return_code'] == "FAIL")
                        {
                            clearInterval(Timer);
                            alert(result['return_msg']);
                        }
                        else if(result['result_code'] == "FAIL")
                        {
                            clearInterval(Timer);
                            alert(result['err_code']);
                        }
                    });
        }

        function pay(){
            if(click_pay_flag == 1){
                return 0;
            }
            click_pay_flag = 1;
            PAYCHECK_TIME = 0;
            $.post("/paydetail/",
                {
                    card_id:{{card.id}}
                },
                function(data){
                    if(data){
                        var jsonobj = eval('('+data+')');
                        order_num = jsonobj.order_num;
                        Timer = setInterval(paycheck, 5000);

                        WeixinJSBridge.invoke('getBrandWCPayRequest', {
                            "appId" : jsonobj.appId, //
                            "timeStamp" : jsonobj.timeStamp, //
                            "nonceStr" : jsonobj.nonceStr, //
                            "package" : jsonobj.package,//
                            "signType" : "MD5", //
                            "paySign" : jsonobj.paySign //
                        },
                        function(res){
                            if(res.err_msg == "get_brand_wcpay_request: ok"){
                                window.reload();
                            }
                        });
                    }
                }
            );
        }

    </script>

	{% include "mobile/header.html" %}
	<body>

		<div id="id-go-pay" style="display: none;">
			<div class="mask" style="display: block;"></div>
			<div class="tips tips-buy-course alert-tips" style="margin-top: -146.5px;">
				<div class="tips-hd">购买会员卡</div>
				<div class="tips-bd">
					<div class="mod-course-banner">
                        <img src={{card.img_path}} class="mod-course-banner__img">
						<div class="mod-course-banner__content">
                            <h3 class="mod-course-banner__title" title="" id="id_order_title">{{card.card_name}}</h3>
							<div class="mod-course-banner__content-line">
                                <span class="mod-course-banner__c-light">共{{card.videos_num}}门课</span>
								<span class="mod-course-banner__sep">|</span>
                                <span class="mod-course-banner__c-light">共{{card.files_num}}课时</span>
							</div>
						</div>
					</div>
					<div class="mod-course-banner_row clearfix">
						<div class="mod-course-banner_col1">价格</div>
						<div class="mod-course-banner_col2">
                            <span class="mod-course-banner__price "> ¥<span class="fontsize-22" id="id_order_price">{{card.money}}</span>
							</span>
							<span class="mod-course-banner__c-light">支持微信支付</span>
						</div>
					</div>
				</div>
				<div class="tips-tool">
					<a onclick="pay()"  href="#" title="去付款" class="btn-7 modal-accept">去付款</a>
					<a  href="#" title="取消" onclick="hide_pay()" class="btn-8 modal-cancel">取消</a>
				</div>
				<a  href="#" onclick="hide_pay()" class="modal-close btn-close" title="关闭">×</a>
			</div>
		</div>

		<div class="container lectures" id="lectures" style="min-height:750px;">
            <div style="height:55px;"></div>
			<div class="row" >
				 <div class="col-md-12">
					<div class="course_img" style="height:210px;">
                        <img src="{{card.img_path}}">
					</div>
				</div>

				<div class="col-md-12">
					<div class="coures_detail">
                        <h3>{{card.card_name}}</h3>
                        <p>{{card.simple_intro}} </p>
                        <hr>
						<ul style="margin-left:0px;">
							<li style="list-style: none;" ><strong>包含课程：</strong>
                                <span>{{card.videos_num}} 门</span></li>
							<li style="list-style: none; margin-top:15px;"><strong> 总课时数：</strong>
                                <span>{{card.files_num}} 课时</span></li>
							<li style="list-style: none; margin-top:15px;"><strong>价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：</strong>
                                <span style="font-size: 22px; color: #ed5d53;">￥{{card.money}}</span>
                            </li>
						</ul>
					</div>
				</div>

                {% if is_paid == True %}
                <div class="btn btn-success btn-lg  buy_btn" style=" margin-left:10px;border-radius: 0; line-height: 20px;">
                    <span class="tracking-ad" data-mod="popu_98">
                        <a class="cklayer" style="color: #fff;">已购买</a>
                    </span>
                </div>
                {% else %}
                <div class="btn btn-warning btn-lg  buy_btn" style=" margin-left:10px;border-radius: 0; line-height: 20px;background-color: #f90; ">
                    <span class="tracking-ad" data-mod="popu_98">
                        <a onclick="show_pay();" class="cklayer" style="color: #fff;">立即购买</a>
                    </span>
                </div>
                {% endif %}
			</div>
			<div class="row" >
				<div class="col-md-12 tabs-container" style="width:100%;">
					<ul class="nav nav-tabs tab-lists">
						<li style="list-style: none; width:120px;" role="presentation" class="active" ><a href="#introduction"> 会员卡介绍 </a></li>
                        <li style="list-style: none; width:120px;" role="presentation" class="" ><a href="#dir"> 包含课程 ({{card.videos_num}}) </a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="introduction" style="margin-top:-30px;">
							<div class="item">
                                <pre class="pre_item">{{card.detail_intro}}
                                </pre>
							</div>
						</div>

                        <div class="tab-pane" id="dir" style="margin-top:-30px;">
                            {% for v in videos%}
                            <a href="/videos/play/?video-id={{v.id}}">
                            <div class="course__cover i-play" style="margin-top:14px; background-image:url({{v.logo_img}});">
                            </div>
                            </a>
                            <li style="list-style: none;" class="course">
                                <div class="one_row">
                                    <h3 class="course__name">{{v.title}}</h3>
                                </div>
                                <div class="one_row">
                                    <h4 class="course__agency">{{v.info}}</h4>
                                </div>
                                <div class="one_row">
                                    <h5 class="course__agency">{{v.tags_str}}</h5>
                                </div>
                                <div class="one_row">
                                <p class="course__addition">
                                    {% if v.money <= 0.0 %}
                                    <span class="course__price free">免费</span>{{v.watch_num}} 观看
                                    {% else %}
                                    <span class="course__price ">¥{{v.money}}</span>{{v.watch_num}} 观看
                                    {% endif %}
                                </p>
                                </div>
                            </li>
                            {% endfor %}
                        </div>

                        <div class="tab-pane" id="dir">
                            {% for v in videos%}
                            <div class="panel-body" style="margin-top: -20px; margin-bottom: -50px;">
                                <dl class="curriculum_list">
                                    <dt class="photo" ><a href="/videos/play/?video-id={{v.id}}" target="_blank"><img src="{{v.logo_img}}"></a></dt>
                                    <dd class="cont">
                                        <h3> <a href="/videos/play/?video-id={{v.id}}" target="_blank" >{{v.title}}</a> </h3>
                                        <p>{{v.info}}</p>
                                        <ul class="list-inline">
                                            {% if v.money == 0 %}
                                                <li><span style="color:#5FB41B;"> 免费 </span></li>
                                            {% else %}
                                                <li><span style="color:#E85308;">¥{{v.money}}</span></li>
                                            {% endif %}
                                            <li><span>{{v.files_num}} </span>课时</li>
                                            <li><span>{{v.watch_num}} </span>观看</li>
                                            <li><span>{{v.like_num}} </span>赞</li>
                                        </ul>
                                        <div class="tags_con">
                                            {% for tag in v.tags %}
                                            <a>{{tag}}</a>
                                            {% endfor %}
                                        </div>
                                    </dd>
                                </dl>
                                <hr style="margin-top:-20px;">
                            </div>
                            {% endfor%}
                        </div>

					</div>
				</div>
			</div>
		</div>
	</body>

<script type="text/javascript">
    $('.nav-tabs li').on("mouseover", function(e){
        $(this).addClass("active").siblings().removeClass("active");
        var id = $(this).find('a').attr('href');
        $(id).addClass('active').siblings().removeClass('active');
    });
</script>
</html>
