<!DOCTYPE html>
<html>

	{% include "mobile/include.html"%}

	<link rel="stylesheet" type="text/css" href="/static/css/mobile/videos.css">
	<link rel="stylesheet" href="/static/css/july/mobile_lectures.css">

	{% include "mobile/header.html"%}

	<body>

		<div class="container lectures" id="lectures" style="min-height:750px;">
            <div style="height:65px;"></div>
			<div class="row">
				 <div class="col-md-12" >
					<div class="course_img" style="height:210px;">
                        <img src="{{course.img_path}}">
					</div>
				</div>
				<div class="col-md-12">
					<div class="coures_detail" >
                        <h3>{{course.title}}</h3>
						<p>
                        {{course.short_info}}
                        </p>
                        <hr>
						<ul style="margin-left:0px;">
							<li ><strong>开班时间：</strong>
                                <span>{{course.start_time}}</span></li>
							<li style="margin-top:8px;"><strong> 课程时长：</strong>
                                <span>{{course.course_time}}</span></li>
							<li style="margin-top:8px;"><strong>价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：</strong>
                                <span>{{course.price}}</span></li>
						</ul>
                        <!--
						<a title="我要报名" href="/baoming/index/37">我要报名</a>
                        -->

					</div>
				</div>
			</div>
			<div class="row" style="">
				<div class="col-md-12 tabs-container" style="width:100%;">
					<ul class="nav nav-tabs tab-lists">
						<li role="presentation" class="active"><a href="#introduction"> 课程介绍 </a></li>
						<li role="presentation" class=""><a href="#dir"> 课程大纲 </a></li>
						<li role="presentation" class=""><a href="#discard"> 优惠报名 </a></li>
						<li role="presentation" class=""><a href="#resource"> 预习资料 </a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="introduction">
							<div class="item">
                                <pre class="pre_item">{{course.detail_intro}}
                                </pre>
							</div>
						</div>
						<div class="tab-pane" id="dir">
							<div class="item">
                                <pre class="pre_item">{{course.course_intro}}
                                </pre>
							</div>
						</div>
						<div class="tab-pane" id="discard">
							<div class="item">
                                <span>
                                <pre class="pre_item">{{course.outlet_intro}}
                                </pre>
                                </span>
                            </div>
						</div>
						<div class="tab-pane" id="resource">
							<div class="item">
                                <pre class="pre_item">{{course.prelearn_intro}}
                                </pre>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>

<script type="text/javascript">
    $('.nav-tabs li').on("mouseover", function(e){
        $(this).addClass("active").siblings().removeClass("active");
        var id = $(this).find('a').attr('href');
        $(id).addClass('active').siblings().removeClass('active');
    });
</script>
</html>
