<!doctype html>
<html lang="en">


		{% include "include.html"%}

		<link rel="stylesheet" href="/static/qiniu/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="/static/qiniu/main.css">
		<link rel="stylesheet" href="/static/qiniu/js/highlight/highlight.css">

	<body>
		{% include "header.html" %}

		<div class="container">

			<div class="clear"></div>
			<div class="mod_upload">
				<div class="mod_upload_filed">
					<form action="/upload-post/" method="post" id="id-form" enctype="multipart/form-data" target="post-status">
						<button id="id-form-submit" style="display: none;" type="submit"></button>
						<div class="mod_upload_box_left">
							<label class="upload_filed_lbl" for="upload_filed_video_title">
								<span>标题</span>
								<span class="sign_star">*</span>
							</label>
							<div class="upload_filed_area">
								<input class="rlf-input" type="text" name="title" value="">
							</div>

							<div class="clear"></div>

							<div class="select_left">
								<label class="upload_filed_lbl" for="upload_filed_video_title">
									<span>分类</span>
									<span class="sign_star">*</span>
								</label>

								<div class="clear"></div>

								<select class="info-select" name="kind">
									<option>类别一</option>
									<option>类别二</option>
								</select>
							</div>
							<div class="select_right">
								<label class="upload_filed_lbl" for="upload_filed_video_title">
									<span>标签</span><span style="font-"> (标签之间使用空格分开)</span>
									<span class="sign_star">*</span>
								</label>

								<div class="clear"></div>

								<div class="upload_filed_area" style="width: 100%;">
									<input style="width: 100%;" class="rlf-input" type="text" name="tag" value="">
								</div>
							</div>
							<div class="clear"></div>
							<label class="upload_filed_lbl" for="upload_filed_video_title" style="margin-top: 10px;">
								<span>简介</span>
								<span class="sign_star">*</span>
							</label>
							<div class="upload_filed_area">
								<textarea id="desc_0" class="textarea" type="text" name="desc" style="height: 120px;"></textarea>
							</div>
							
							<div class="clear"></div>
							<label class="upload_filed_lbl" for="upload_filed_video_title" style="margin-top: 10px;">
								<span>价格 (RMB)</span>
								<span class="sign_star">*</span>
							</label>
							<div class="upload_filed_area" style="width: 80px;">
								<input class="rlf-input" type="text" name="money" value="0">
							</div>
						</div>

						<div class="mod_upload_box_right">
							<label class="upload_filed_lbl" for="upload_filed_video_title">
								<span>课程封面</span>
								<span class="sign_star">*</span>
							</label>
							<div style="border: dashed; width: 330px; height: 190px;">
								<div id="localImag">
									<img id="logo_img" src="/static/images/uppic.png" style="width: 99%; height: 99%; vertical-align: middle;" />
								</div>
							</div>

							<div style="margin-top: 15px; margin-left: 82px;">
								<a class="btn_addPic" href="">
									<span><em>+</em>更换封面</span>
									<input id="LogoUpload" class="filePrew" type="file" name="logo" onchange="return setImagePreview()">
								</a>
							</div>
						</div>

						</dir>

						<input type="TEXT" id="id_rand_key" name="key" style="display:none;">
						<input type="TEXT" id="id_link" name="video-link" style="display: none;">
					</form>
				</div>

			</div>

			<input type="TEXT" id="id_uptoken_url" value="/uptoken/" style="display:none;">
			<div class="body">
				<div class="col-md-12">
					<div id="container">
						<hr>
						<a class="btn btn-default btn-lg " id="pickfiles">
							<i class="glyphicon glyphicon-plus"></i>
							<sapn>选择文件</sapn>
						</a>
					</div>
				</div>

				<div style="display:none" id="success" class="col-md-12">
					<div class="alert-success">
						队列全部文件处理完毕
					</div>
				</div>
				<div class="col-md-12 ">
					<table class="table table-striped table-hover text-left" style="margin-top:40px;display:none">
						<thead>
							<tr>
								<th class="col-md-4">Filename</th>
								<th class="col-md-2">Size</th>
								<th class="col-md-6">Detail</th>
							</tr>
						</thead>
						<tbody id="fsUploadProgress">
						</tbody>
					</table>
				</div>

			</div>

			<!--<div class="modal fade body" id="myModal-img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">图片效果查看</h4>
						</div>
						<div class="modal-body">
							<div class="modal-body-wrapper text-center">
								<a href="" target="_blank">
									<img src="" alt="" data-key="" data-h="">
								</a>
							</div>
							<div class="modal-body-footer">
								<div class="watermark">
									<span>水印控制：</span>
									<a href="#" data-watermark="NorthWest" class="btn btn-default">
                            左上角
                        </a>
									<a href="#" data-watermark="SouthWest" class="btn btn-default">
                            左下角
                        </a>
									<a href="#" data-watermark="NorthEast" class="btn btn-default">
                            右上角
                        </a>
									<a href="#" data-watermark="SouthEast" class="btn btn-default disabled">
                            右下角
                        </a>
									<a href="#" data-watermark="false" class="btn btn-default">
                            无水印
                        </a>
								</div>
								<div class="imageView2">
									<span>缩略控制：</span>
									<a href="#" data-imageview="large" class="btn btn-default disabled">
                            大缩略图
                        </a>
									<a href="#" data-imageview="middle" class="btn btn-default">
                            中缩略图
                        </a>
									<a href="#" data-imageview="small" class="btn btn-default">
                            小缩略图
                        </a>
								</div>
								<div class="imageMogr2">
									<span>高级控制：</span>
									<a href="#" data-imagemogr="left" class="btn btn-default no-disable-click">
                            逆时针
                        </a>
									<a href="#" data-imagemogr="right" class="btn btn-default no-disable-click">
                            顺时针
                        </a>
									<a href="#" data-imagemogr="no-rotate" class="btn btn-default">
                            无旋转
                        </a>
								</div>
								<div class="text-warning">
									备注：小图片水印效果不明显，建议使用大图片预览水印效果
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>-->
		</div>
		<div class="row_center">
			<span id="fileinfo_saving_0" class="btns_txt" style="display:none"></span>
			<button class="btn_submit" type="button" id="fileinfo_save_0" _hot="uc.upload.saveinfo" onclick="btn_click()">保存</button>
		</div>
		
		<div class="container">
			<div class="clear"></div>
			<div class="mod_upload">
				<div class="mod_upload_filed">
					<iframe id="post-status" name="post-status" style="display:;" frameborder="no"></iframe>
				</div>
			</div>
		</div>

		<script>
			function btn_click() {
				document.getElementById('id-form-submit').click();
			}

			function setImagePreview() {
				var docObj = document.getElementById("LogoUpload");
				var imgObjPreview = document.getElementById("logo_img");
				if (docObj.files && docObj.files[0]) {
					//火狐下，直接设img属性
					imgObjPreview.style.display = 'block';
					imgObjPreview.style.width = '316px';
					imgObjPreview.style.height = '178px';
					//imgObjPreview.src = docObj.files[0].getAsDataURL();
					//火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式  
					imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
				} else {
					//IE下，使用滤镜
					docObj.select();
					var imgSrc = document.selection.createRange().text;
					var localImagId = document.getElementById("localImag");
					//必须设置初始大小
					localImagId.style.width = "316px";
					localImagId.style.height = "178px";
					//图片异常的捕捉，防止用户修改后缀来伪造图片
					try {
						localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
						localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
					} catch (e) {
						alert("您上传的图片格式不正确，请重新选择!");
						return false;
					}
					imgObjPreview.style.display = 'none';
					document.selection.empty();
				}
				var f = get_element('LogoUpload').files[0];
				var msg = ""
				for (var x in f)
					msg += x.toString() + ",";
				//alert(msg);
				get_element('save_logo_filename').value = f.name;
				document.getElementById('logo_submit').click();
				return true;
			}
		</script>

		<script type="text/javascript" src="/static/qiniu/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/static/qiniu/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/qiniu/js/plupload/plupload.full.min.js"></script>
		<script type="text/javascript" src="/static/qiniu/js/plupload/i18n/zh_CN.js"></script>
		<script type="text/javascript" src="/static/qiniu/js/ui.js"></script>
		<script type="text/javascript" src="/static/qiniu/js/qiniu.js"></script>
		<script type="text/javascript" src="/static/qiniu/js/highlight/highlight.js"></script>
		<script type="text/javascript" src="/static/qiniu/js/main.js"></script>

	</body>

</html>