<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">

	{% include "include.html"%}
    <link href="/static/css/netease/core.css" type="text/css" rel="stylesheet">
    <link href="/static/css/netease/pt_pages_course_courseMain.css" type="text/css" rel="stylesheet">

		{% include "header.html" %}
    <body style="top: -100px;">

        <div class="m-maintainInfo" style="display:none">
            <div id="maintain_info_box" class="g-flow"></div>
        </div>
        <div id="advertisement_box" class="advertisement_box f-pf" style="display:none;"></div>
        <div class="g-flow" style="width: 960px;">
            <div class="b-20"></div>
            <div>
                <div class="f-bg headBox" id="courseHead">
                    <div class="u-courseHead">
                        <div class="ov f-pr j-ch" style="height: 300px;">
                            <div class="courseMark djMark f-pa j-djMark"></div>
                            <div class="courseMark sfMark f-pa j-sfMark"></div>
                            <div class="g-sd1 left j-chimg">
                                <img width="450" height="250" src="{{course.logo_img}}">
                            </div>
                            <div class="g-mn1">
                                <div class="g-mn1c right j-right f-pr">
                                    <div class="ctarea f-fl j-cht">
                                        <div class="u-coursetitle f-fl">
                                            <h2 class="f-thide">
                                                <span >{{course.title}}</span>
                                            </h2>
                                            <div class="f-cb margin-top-15">
                                                <!-- <span>1.    成为图表高手，像专业人士一样设计图表, 突破EXCEL的图表布局，制作专业图表。   掌握图表创建编辑方法，随心所欲编排图表元素。 <br>2.   区分源数据和作图数据 要想使制作的图表更加专业有效，就需要将源数据加工成作图数据。作图数据的组织就是重要的挑战。通过组织作图数据，可使图表思路更清晰，制作一些看似无法完成的精巧图表。</span> -->
                                                <span>{{course.info}}</span>
                                                <!-- <span class="hot f-fs0">46163</span> -->
                                                <!-- <span class="j-starNode starall"> -->
                                                    <!-- <div class="u-rating"> -->
                                                        <!-- <div class="star on"></div> -->
                                                        <!-- <div class="star on"></div> -->
                                                        <!-- <div class="star on"></div> -->
                                                        <!-- <div class="star on"></div> -->
                                                        <!-- <div class="star on"></div> -->
                                                        <!-- <span class="j-tip"></span> -->
                                                    <!-- </div> -->
                                                <!-- </span> -->
                                                <!-- <span class="cmt">(159)</span> -->
                                            <!-- <div class="teacher"> -->
                                                <!-- <div class="f-fl">讲师：</div> -->
                                                <!-- <div class="f-fl" style="margin-right:3px;">王燕老师</div> -->
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="" method="post" class="j-payForm" target="_blank"> <input type="hidden" name="productId" class="j-courseId"> <input type="hidden" name="productType" value="0"> </form>
                    <!-- <ul class="f-cb tabarea"> -->
                        <!-- <li class="f-fl"> -->
                            <!-- <a class="j-chtab selected" hidefocus="true" href="">主页</a> -->
                        <!-- </li> -->
                        <!-- <li class="f-fl"> -->
                            <!-- <a class="j-chtab" hidefocus="true" href="/note/noteIndex.htm?id=1002904008&amp;type=0">笔记</a> -->
                        <!-- </li> -->
                        <!-- <li class="f-fl"> -->
                            <!-- <a class="j-chtab" hidefocus="true" href="/forum/index.htm?cid=1002904008&amp;p=1">讨论区</a> -->
                        <!-- </li> -->
                        <!-- <li class="f-fr"> -->
                            <!-- <a class="j-chtab s-fc5" hidefocus="true" href="/ask/askIndex.htm?fromId=1002904008&amp;fromType=0">问答</a> -->
                        <!-- </li> -->
                    <!-- </ul> -->
                </div>
            </div>
        </div>
        <div class="b-15"></div>
        <div id="processwrap">
            <div class="learnPro f-bg f-cb" id="course-process">
                <div class="m-learnProgress f-pr">
                    <div class="barBox f-cb">
                        <div class="f-cb">
                            <div class="g-mn2">
                                <div class="g-mn2c">
                                    <div class="probg">
                                        <div class="probar" style="width: {{percent}}%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="g-sd2">
                                <a class="btn f-fr j-btn" target="_blank" href="/videos/play/?video-id={{video_id}}&current={{next_id}}" style="width: 110px; margin-top: -10px;">
                                    <span>继续学习</span>
                                </a>
                            </div>
                        </div>
                        <div class="proDetail f-cb">
                            <span class="pFinished j-pFinished f-fl">目前已完成<em> {{finished_num}}/{{total_num}}</em>个课时, 共 <em class="j-total s-fcorange">{{total_time}}分钟</em>, 已学习 <em class="j-remain s-fcorange">{{total_watched_time}}分钟</em></span>
                            <span class="pTaskLeft j-pTaskLeft f-thide f-fr" title="">下一个课时 : {{next_title}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-15"></div>
        </div>

        <!-- <div class="f-cb"> -->
            <!-- <div class="g-cisd2" id="bdCom"> -->
                <!-- <div id="j-courseNotice" class="m-notice f-cb f-bg"> -->
                    <!-- <h2 class="u-ctit" style="height: 35px;">公告</h2> -->
                    <!-- <div id="j-notice-box" class="f-bdr"> -->
                        <!-- <div class="m-courseNotice"> -->
                            <!-- [> <div class='m-noticetitle'> <h2 class="u-ctit">公告</h2> </div> <] -->
                            <!-- <div class="j-noticeContent m-noticeContent"> -->
                                <!-- <div class="m-noticeitem f-notshow" id="auto-id-1475841466702"> -->
                                    <!-- <div class="j-noedit-box noedit"> -->
                                        <!-- <div class="notice-main j-notice-main f-cb f-last f-notshow"> -->
                                            <!-- <div class="notice-content"> -->
                                                <!-- <div class="notice-desc j-desc">进阶+高级+项目高清视频，进群免费领取。进群备注所学课程。</div> -->
                                                <!-- <div class="notice-bar f-cb"> -->
                                                    <!-- <div class="notice-info m-info f-cb f-fl"> -->
                                                        <!-- <div class="u-user f-fl"> -->
                                                            <!-- <div class="u-time j-date">9月27日</div> -->
                                                        <!-- </div> -->
                                                    <!-- </div> -->
                                                    <!-- <div class="notice-opt j-opt f-fr"> -->
                                                        <!-- <a class="j-more m-gmore f-fr" id="auto-id-1475841466701">详情&gt;</a> -->
                                                    <!-- </div> -->
                                                <!-- </div> -->
                                            <!-- </div> -->
                                        <!-- </div> -->
                                    <!-- </div> -->
                                    <!-- <div class="j-edit-box edit" style="display: none;"></div> -->
                                <!-- </div> -->
                            <!-- </div> -->
                            <!-- <div class="m-ckgd j-op f-dn" id="auto-id-1475841466649">查看更多</div> -->
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="b-15" id="j-notice-b-15"></div> -->
            <!-- </div> -->

            <div class="g-cimn2" id="bdDir">
                <div class="g-cimn2c">
                    <div id="j-livecourse-remind"> </div>
                    <div id="j-duration" class="duration f-bg" style="display:none;">
                        <h2 class="u-ctit">学习时间提醒</h2>
                        <p>本课程共有<em class="j-total s-fcorange">0分钟</em>学习时间，当前剩余<em class="j-remain s-fcorange">0分钟</em></p>
                    </div>
                    <div class="f-cb f-bg f-pr" id="j-chapter-list" style="z-index:10;">
                        <div class="f-cb">
                            <h2 class="u-ctit f-thide f-fl" id="j-chapter-title" style="width:320px; height:35px;">目录</h2>
                        </div>
                        <div class="m-chapterList f-pr">
                            <div class="chapter f-pr">

                                {% for v in play_list%}
                                <div class="sectionarea">
                                    {% if v.is_chapter == True%}
                                    <div class="chapterhead"> <span class="f-fl chaptertitle">章节</span> 
                                        <span class="f-fl chaptericon">{{v.chapter_num}}</span>
                                        <span class="f-fl f-thide chaptername">{{v.chapter_name}}</span>
                                        <div class="f-fr j-chaptertime-0"> </div>
                                    </div>
                                    {% else %}
                                        <div class="section" >
                                            <a target="_blank" href="/videos/play/?video-id={{video_id}}&current={{v.num}}">
                                                <span class="f-fl f-thide ks">课时{{v.v_num}}</span>
                                                <!-- {% if v.watched = 1%} -->
                                                <!-- <span class="f-fl ksicon ksicon-30"></span> -->
                                                <!-- {% else %} -->
                                                <!-- <span class="f-fl ksicon ksicon-0"></span> -->
                                                <!-- {% endif %} -->
                                                {% if v.step = 2%}
                                                <span class="f-fl ksicon ksicon-30"></span>
                                                {% elif v.step = 1%}
                                                <span class="f-fl ksicon ksicon-20"></span>
                                                {% else %}
                                                <span class="f-fl ksicon ksicon-0"></span>
                                                {% endif %}
                                                <span class="f-fl f-thide ksname">{{v.title}}</span>
                                                <span class="f-fr ksinfo j-hoverhide" style="display: block;">
                                                    <!-- <span class="f-fr f-thide kstime">13:08</span> -->
                                                    <span class="f-fr f-thide kstime">{{v.duration}}</span>
                                                    <span class="f-fr ksinfoicon ksinfoicon-2 title="></span>
                                                    <span class="f-fr flag flag-0" title=""></span>
                                                </span>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                </div>

                            </div>
                            <!-- <div class="chapter f-pr"> -->
                                <!-- <div class="chapterhead"> -->
                                    <!-- <span class="f-fl chaptertitle">章节</span> -->
                                    <!-- <span class="f-fl chaptericon">2</span> <span class="f-fl f-thide chaptername">图表知识全掌握【王正华老师】</span> -->
                                    <!-- <div class="f-fr j-chaptertime-1"> </div> -->
                                <!-- </div> -->
                                <!-- <div class="sectionarea"> -->
                                    <!-- <div class="section section-last" data-lesson="2" data-chapter="1"> -->
                                        <!-- <span class="f-fl f-thide ks">课时3</span> -->
                                        <!-- <span class="f-fl ksicon ksicon-0" title="未开始"></span> -->
                                        <!-- <span class="f-fl f-thide ksname">商务图表系列.标准图表制作</span> -->
                                        <!-- <a class="f-fr ksbtn j-hovershow" style="display: none;"> -->
                                            <!-- <span>开始学习</span> -->
                                        <!-- </a> -->
                                        <!-- <span class="f-fr ksinfo j-hoverhide" style="display: block;"> -->
                                            <!-- <span class="f-fr f-thide kstime">32:16</span> -->
                                            <!-- <span class="f-fr ksinfoicon ksinfoicon-2 title=" 视频 ""=""></span> -->
                                            <!-- <span class="f-fr flag flag-10" title=""></span> -->
                                        <!-- </span> -->
                                    <!-- </div> -->
                                <!-- </div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                    <div id="j-recommend" style="display:none;">
                        <div class="b-15"></div>
                        <div class="f-cb f-bg f-pr recommedCourse" id="j-recommendCourse">
                            <h2 class="u-ctit f-thide recommend">学习过该课程的人还学习过：</h2> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>


</body>

</html>
