<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="/static/css/pay/pay.css" />
	</head>

	<body>
		<div class="dialog_content">
			<div class="prop" id="dlgHeader">
				<div class="prop_img">
					<img src={{unpay_order.pic}} onload="this.height>54?this.height=54:0">
				</div>
				<div class="prop_cont">
					<h2 id="goodsName">{{unpay_order.name}}</h2>
					<!--<p>
						<span id="unitPriceTip"></span><span class="special" id="openVipSection" style="display: none;"><a href="javascript:void(0)" id="quickOpen" style="display: none;">一键开通VIP</a><a href="javascript:void(0)" id="slowOpen">开通VIP</a></span>
						<span class="special tx-success" id="openSuccess" style="display:none"></span><span class="special warning" id="openFail" style="display:none"></span><span id="openWaiting" style="display:none"></span>
					</p>-->
				</div>
				<div class="clear"></div>
			</div>

			<div class="form-horizontal">
				<div class="control-group tit" style="z-index:102;">
					<span class="control-label">支付方式：</span>
					<div class="controls">
						<div class="controls-option" id="channelList">
							<label _value="wechat" id="wechatChannel" _type="main" class="selected"><a href="javascript:void(0)" class="radio-box" hidefocus="true">微信支付<i class="icon-check"></i></a></label>
							<label _value="kj" id="kjChannel" _type="main" class=""><a href="javascript:void(0)" class="radio-box" hidefocus="true">快捷支付<i class="icon-check"></i></a></label>
							<label _value="bank" id="bankChannel" _type="main" class=""><a href="javascript:void(0)" class="radio-box" hidefocus="true">银行卡<i class="icon-check"></i></a></label>
							<label _value="tenpay" id="tenpayChannel" _type="main" class=""><a href="javascript:void(0)" class="radio-box" hidefocus="true">财付通<i class="icon-check"></i></a></label>
						</div>
						<div class="controls-expanded" id="channelLoading" style="display: none;">
							<div class="loading warning">
								<div class="load">
									<i class="icon-load"></i>加载中，请稍后……
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="dialogWxMini" class="newApp1 appsmall" style="margin-left: 199px;">
					<p class="img-rwm"><img id="wxImageMini" width="100" height="100" src={{unpay_order.wxpay_qrcode}}></p>
					<p class="explain"><img src="/static/images/tips-rwm.png"></p>
					<p class="price" id="wxPriceMini">￥{{unpay_order.price}}</p>
				</div>
			</div>

			

		</div>
	</body>

</html>