<!DOCTYPE html>
<html>
	{% include "include.html"%}
	<link rel="stylesheet" href="/static/css/txkt/manage.css" />

	<link rel="stylesheet" type="text/css" href="/static/css/confirm/xcConfirm.css"/>
	<script src="/static/css/confirm/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="/static/css/confirm/xcConfirm.js" type="text/javascript"></script>


	<body>
		{% include "header.html" %}
        <input type="text" id="temp-delete-id" value="" style="display:none;"  >

		<div class="site_container">
			<div class="container_inner contain_guide">
				<!-- 导航栏 开始 -->
				<div class="user_navigate" id="side_nav">
					<div class="user_info">
						<div class="navi_avater">
							<a href="/user/setprofile/">
								<img src={{account.user_pic}} class="__avatar" width="120" height="120" style="visibility: visible;">
								<span class="mask"></span>
							</a>
							<!--<a href="javascript:;" class="option_toggle">
								<i class="icon_uacc"></i>
								<span class="inner">账号管理</span>
							</a>-->
							<!--<i id="__avatarType" class="icon_account_qq" style="visibility: visible;"></i>-->
						</div>
						<h4 class="user_title __nickname">{{account.nickname}}</h4>
						<div class="level_option">
							<a href="/u/hlw/hlw_index.html" class="_icon_vip" style="visibility: hidden; display: none;" _hot="uc.side.hlwicon"><i class="ico_vip"></i></a>
							<a target="_blank" href="javascript:" class="_icon_vplus" style="visibility: hidden; display: none;" _hot="uc.side.vplusicon"><i class="icon_vplus"></i></a>
						</div>
					</div>

					<ul class="navigate_list">

						<li class="item ">
							<a href="/upload/course/" class="navi_inner _upload" _hot="uc.side._upload" target="_blank"><i class="icon2_upload"></i><span class="text">上传视频</span></a>
						</li>

						<li class="item ">
							<a href="/videos/manage/" class="navi_inner _vmanage " _hot="uc.side._vmanage"><i class="icon2_vmanage"></i><span class="text">视频管理</span></a>
						</li>

						<li class="item ">
							<a href="/videos/data-manage" class="navi_inner current"><i class="icon2_data"></i><span class="text">数据统计</span></a>
                        </li>

						<li class="item ">
							<a href="/manage/index-info" class="navi_inner _vmanage " _hot="uc.side._vmanage" target="_blank"><i class="icon2_vmanage"></i><span class="text">首页广告</span></a>
						</li>
					</ul>
				</div>
				<!-- 导航栏 结束 -->

				<div class="main_content" id="video_view">
					<ul class="mod_tab_list">
						<li class="item current _videoBtn">
							<a class="txt">数据统计 </a>
						</li>
					</ul>


					<ul class="video_list" id="video_list">
						<li class="item_title">
							<div class="item_a">
								<input type="checkbox" class="_check_all">
							</div>
							<div class="item_b"><span class="text"></span></div>
                            <!--
							<div class="item_c">指数</div>
							<a href="" class="item_d"><i class="icon-delete"></i> 删除</a>
                            -->
						</li>


						<li class="list_item">
							<div class="excel_item">
								<ol class="option_list">
									<li class="item">
										<a href="/download/?filename=users.csv" class="btn_normal _edit_video  excel_title">
											<i class="icon_edited"></i>
                                            用户统计信息
										</a>
									</li>
								</ol>
							</div>
						</li>

						<li class="list_item">
							<div class="excel_item">
								<ol class="option_list">
									<li class="item">
										<a href="/download/?filename=videos.csv" class="btn_normal _edit_video  excel_title">
											<i class="icon_edited"></i>
                                            课程统计信息
										</a>
									</li>
								</ol>
							</div>
						</li>

						<li class="list_item">
							<div class="excel_item">
								<ol class="option_list">
									<li class="item">
										<a href="/download/?filename=user_watch_info.csv" class="btn_normal _edit_video  excel_title">
											<i class="icon_edited"></i>
                                            用户观看统计信息
										</a>
									</li>
								</ol>
							</div>
                        </li>

						<li class="list_item">
							<div class="excel_item">
								<ol class="option_list">
									<li class="item">
										<a href="/download/?filename=user_order_info.csv" class="btn_normal _edit_video  excel_title">
											<i class="icon_edited"></i>
                                            用户下单统计信息
										</a>
									</li>
								</ol>
							</div>
                        </li>

					</ul>


				</div>


			</div>

		</div>
		
		{% include "footer.html" %}
	</body>

</html>
