
body {
  font-family: '微软雅黑';
    overflow: scroll;
}
h1 {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 15px;
  position: relative;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: '微软雅黑';
}
h3,h4 {
  color: #d2d2d2;
  font-family: '微软雅黑',"Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 .view_github {
  display: block;
  font-size:  15px;
  line-height: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid #d2d2d2;
  border-bottom: none;
  border-radius:0;

}
h1 .view_github:hover,h1 .view_code:hover {
  background-color: #f5f5f5;
}

h1 .view_code {
    display: block;
    font-size:  15px;
    line-height: 30px;
    position: absolute;
    right: 225px;
    bottom: 0;
    border: 1px solid #d2d2d2;
    border-bottom: none;
    border-radius:0;
    height: 45px;
}
.col-md-12.no-padding {
    padding-left:0;
    padding-right:0;
}
.info {
  position: relative;
    height: 100%;
}
tr .progress-bar {
    min-height: 20px;
    float: none;
}
tr .progress, tr .progress div {
  height: 20px;
}

tr .progress .chunk-status {
    position: absolute;
    left: 24px;
    top: 0;
}
.status {
  position: absolute;
  width: 100%;
  top:0;
  left: 24px;
}
.tip {
  padding-left: 30px;
}
.tip p {
  line-height: 1;
}
#container {
  margin-bottom: 20px;
  border-width: 2px;
  border-radius: 3px;
  border-color: #dcdcdc;
  cursor: default;
}
#container:hover,#container:active  {
  background-color:#fff;
  border-color: #dcdcdc;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#container.draging {
  background-color:#fff;
  border-color:#999999;
}
#success {
  line-height: 30px;
  height: 30px;
  margin:20px 0 0 0;
}
#success div {
    padding-left: 24px;
}
#container a {
  width: 15%;
  min-width: 145px;


}
.mod_upload .mod_upload_box_left{width:535px;float:left}
.mod_upload .mod_upload_box_left .upload_filed_txt{width:535px;outline:none}
.mod_upload .mod_upload_box_left .upload_filed_txa{width:517px;height:80px;outline:none}
.mod_upload .mod_upload_box_form{padding:10px 30px 0 30px}
.mod_upload .mod_upload_filed .upload_filed_txa_keyword{width:490px;padding:4px}
.mod_upload .mod_upload_box_right{width:340px;float:right;zoom:1}
.ico_question{width:11px;height:12px;background-position:-35px -60px;vertical-align:middle;border-radius:50%}
.mod_upload .ico_question{cursor:pointer}
.mod_upload_filed{position:relative;z-index:1;margin-bottom:10px}
.mod_upload_filed .upload_filed_area{position:relative;margin-bottom:6px;z-index:2}
.mod_upload_filed .area_zindex{z-index:101}
.mod_upload_filed .upload_filed_tips{position:relative;color:#c20;zoom:1;z-index:1}
.mod_upload_filed .upload_filed_tips_right{position:absolute;top:0;right:0;float:right;color:#808080}
.mod_upload_filed .upload_filed_tips_right_inner{color:#c20;margin-right:8px}
.mod_upload_filed .upload_filed_tips_right b{font-weight:500}
.mod_upload_filed .upload_filed_tips_right .tips_right_txt{padding-left:8px;color:#c20}
.mod_upload_filed .tips_right_over{color:#c20;padding-left:8px}
.mod_pop .mod_mytag{margin-top:6px}
.mod_mytag{position:relative;zoom:1;padding-left:60px;height:24px;white-space:nowrap}
.mod_mytag .mod_mytag_tit{position:absolute;top:0;left:0;height:24px;line-height:24px;color:#666}
.mod_mytag ul li{display:inline-block;*display:inline;zoom:1;line-height:24px;vertical-align:top;margin-right:10px}
.mod_mytag ul li a{color:#999;padding:0 1px}
.mod_mytag ul li a:hover{color:#fff;background:#ff6700}
.mod_upload_filed .upload_filed_label{position:relative;padding:6px 0}
.mod_upload_filed .upload_filed_label .upload_filed_point{display:inline-block;*display:inline;zoom:1;position:relative;width:15px;height:15px;line-height:15px;margin-left:4px;vertical-align:middle}
.mod_upload_filed .upload_filed_lbl{font-size:15px;color:#333}
.mod_upload_filed .upload_filed_lbl .sign_star{color:#c20}
.mod_upload_filed .upload_filed_label_tips{position:relative;top:0;padding-left:6px;font-weight:500;vertical-align:top}
.mod_upload_filed .upload_filed_label .upload_filed_tips{position:absolute;right:0;top:9px;height:18px;color:#999;zoom:1;z-index:1;white-space:nowrap;font-size:12px}
.mod_upload_filed .upload_filed_txt{display:block;height:38px;line-height:38px\9;*line-height:38px;padding:0 5px;border:1px solid #ccc;border-radius:1px;box-shadow:inset 0 1px 1px #eee}
.mod_upload_filed .upload_filed_txa{display:block;padding:4px 8px;border:1px solid #ccc;border-radius:1px;box-shadow:inset 0 1px 1px #eee}
.mod_upload_filed .upload_filed_txt_focus,.mod_upload_filed .upload_filed_txa_focus{border-color:#808080}
.mod_upload_filed .upload_filed_txt_error,.mod_upload_filed .upload_filed_txa_error{border-color:#c20}
.mod_upload_filed .upload_filed_slt{width:100%}
.mod_upload_filed .upload_filed_slt_txt{display:block;position:relative;height:38px;line-height:38px;border:1px solid #ccc;padding:0 30px 0 6px;color:#999;border-radius:1px}
.mod_upload_filed .upload_filed_slt_txt:hover{text-decoration:none}
.mod_upload_filed .upload_filed_slt_txt:hover span{color:#333}
.mod_upload_filed .upload_filed_conttips{position:absolute;top:5px;left:9px;color:#b3b3b3;cursor:text}
.mod_upload_filed .upload_filed_radio{}
.mod_upload_filed .filed_radio_item{display:inline-block;*display:inline;zoom:1;vertical-align:middle;margin-right:12px}
.mod_upload_filed .btn_select{display:block;position:absolute;top:15px;right:6px;width:13px;height:8px;background:url(images/sprite_upload.32.png) -10px -60px no-repeat;_background-image:url(images/sprite_upload.32.png);cursor:pointer}
.mod_upload_filed .btn_select span,.mod_upload_filed .btn_select_up span{display:none}
.mod_upload_filed .upload_filed_slt_pop{display:none;position:absolute;z-index:200;width:100%}
.mod_upload_filed .upload_filed_slt_pop_list{border:1px solid #ccc;border-top:none;border-bottom:none;background:#fff}
.mod_upload_filed .upload_filed_slt_pop_list li{height:39px;line-height:39px;border-bottom:1px solid #ccc;padding:0 8px;white-space:nowrap;_height:30px;_padding-top:9px}
.mod_upload_filed .upload_filed_slt_pop_list .label{font-weight:bold;margin-right:0}
.mod_upload_filed .upload_filed_slt_pop_list li a{display:inline-block;zoom:1;height:20px;line-height:20px;padding:0 5px;color:#808080;background:#fff}
.mod_upload_filed .upload_filed_slt_pop_list li a:hover{background:#ff7a0d;color:#fff;text-decoration:none}
.mod_upload_filed .mod_video_info_list li{line-height:26px}
.mod_upload_filed .mod_video_info_list .mod_video_info_cont{color:#333}
.mod_upload_filed .upload_filed_area {
  position: relative;
  margin-bottom: 6px;
  z-index: 2;
}
.mod_upload .mod_upload_box_left {
	margin-bottom: 15px;
  width: 535px;
  float: left;
}
.mod_upload .mod_upload_box_right {
  width: 340px;
  float: right;
  zoom: 1;
}

.select_left {
	margin-top: 15px;
  margin-bottom: 15px;
  width: 30%;
  float: left;
}
.select_right {
	margin-top: 15px;
  width: 60%;
  float: right;
  zoom: 1;
}
.info-input{
	height: 30px;
}

.info-select{
	width: 100%;
	height: 38px;
}
.clear{ clear:both} 


.btn_addPic {
	display: block;
	position: relative;
	width: 140px;
	height: 39px;
	overflow: hidden;
	border: 1px solid #EBEBEB;
	background: none repeat scroll 0 0 #F3F3F3;
	color: #999999;
	cursor: pointer;
	text-align: center;
	float: left;
}
.btn_addPic span {
	display: block;
	line-height: 39px;
}
.btn_addPic em {
	background: url("add.png") 0 0;
	display: inline-block;
	width: 18px;
	height: 18px;
	overflow: hidden;
	margin: 10px 5px 10px 0;
	line-height: 20em;
	vertical-align: middle;
}
.btn_addPic:hover em {
	background-position: -19px 0;
}
.filePrew {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 140px;
	height: 39px;
	font-size: 100px;
	/* 增大不同浏览器的可点击区域 */
	
	opacity: 0;
	/* 实现的关键点 */
	
	filter: alpha(opacity=0);
	/* 兼容IE */
}
.row_center {
  padding: 20px 0;
  text-align: center;
}
.btn_submit {
  display: inline-block;
  padding: 0 25px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  color: #fff;
  background: #ff7a0d;
  border: 0 none;
  outline: none;
}
button {
    border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  color: #646464;
  border: 1px solid #d2d2d2;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  -webkit-user-select: none;
  outline: none;
}
td .Wrapper {
  margin-top: 20px;
  text-align: center;
  overflow: hidden;
}
td .Wrapper .infoWrapper{
  width:50%;
  height:100px;
  margin-left: 10px;
  text-align: left;
  line-height: 25px;
}
td .Wrapper .infoWrapper a:first-child{
  margin-right: 10px;
}
td .Wrapper.default {
  margin-top: 20px;
  text-align: left;
}
td .Wrapper.default img{
  width:100px;
  height:100px;
}
td .imgWrapper {
  position: relative;
  width:100px;
  height: 100px;
}
td .imgWrapper .linkWrapper {
    position: absolute;
    left: 15px;
    top: 0;
    width:100px;
    height: 100px;
    cursor: pointer;
}
td .imgWrapper .linkWrapper a{
    line-height: 50px;

}
table td .hash {
    margin-bottom: 20px;
}
pre  {
    margin-top: 20px;
}

.container .modal-dialog {
    width: 45%;
}
.container .modal-dialog .modal-content {
     max-height: 90%;
}
.container .modal-dialog  .modal-body img{
    max-width: 95%;
    max-height: 70%;
}
.container .modal-body-footer , .container .modal-body-footer div{
    margin-top: 10px;
    margin-bottom: 10px;
}
.container .modal-dialog .modal-body-footer  {
  margin-top: 0px;
}
.container .modal-dialog .modal-body-footer span {
  margin-right: 20px;
}
.container .modal-dialog .modal-body-footer .text-warning,.container .modal-dialog .modal-footer span ,.container .modal-dialog .modal-footer a{
  font-size: 12px;
}
.body .btn-default {
    border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  color: #646464;
  border: 1px solid #d2d2d2;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  -webkit-user-select: none;
  outline: none;
}
.body .btn-default:hover,.body .btn-default:active,.body .btn-default:focus ,.no-padding button:hover,.no-padding button:active,.no-padding button:focus{
  border-color: #bebebe;
  text-decoration: none;
  background-color: #fff;
  color: #262626;
  outline: none;
    -webkit-box-shadow: 0 1px 0 rgba(230, 230, 230, 0.8);
  box-shadow: 0 1px 0 rgba(230, 230, 230, 0.8);
}

a {
    cursor: pointer;
}
