<footer class="footer_container" style="width: 100%; bottom:0px;" >
	<div class="container">
		<div class="row ">
			<div class="col-md-12 footer-content">
				<a class="footicon" href="http://weibo.com/u/3808947476" target="_blank">
					微博关注
				</a> &nbsp;·&nbsp;
				<a class="footicon" href="http://excel.tropic.com.cn/info/aboutus/e26f582ccafb4241a16f96f1c6a68fc4.html" target="_blank">关于我们
                </a>&nbsp;·&nbsp;
                <!--
                <a class="footicon" href="" target="_blank">联系我们</a>&nbsp;·&nbsp;<a class="footicon" href="" target="_blank">加入我们</a> ·&nbsp;
				<a class="footicon" target="_blank" href="">
					意见反馈
				</a>
                -->
				<!-- right -->
				<span class="footer_right_wrap">
					回归线教育©2015&nbsp;&nbsp;&nbsp;·&nbsp;
					<a class="footicon" href=" target="_blank">
                        京ICP备05080892号-1
					</a>&nbsp;
				</span>
			</div>
		</div>
	</div>
</footer>
