<html lang="zh-CN">

	{% include "include.html"%}

	<body>
		{% include "header.html"%}

		<div class="wrap" style="margin-top: 160px; margin-left: 10%; margin-right: 10%;">
			<img src="/static/images/title.jpg" style="margin-left: 35%; width:20%; margin-bottom: 15px;" />
			<div class="post-topheader">
				<div class="container">
					<ul class="search-category nav nav-pills">
						<li class="active"><a href="/search?q=">全部</a>
						</li>
						<li><a href="">视频</a>
						</li>
						<li><a href="">文章</a>
						</li>
						<li><a href="">标签</a>
						</li>
						<li><a href="">关键字</a>
						</li>
					</ul>
					<form action="/search" class="row" style="width: ; margin-top: 10px;">
						<div class="col-md-9">
							<input class="input-lg form-control" type="text" name="q" value="" placeholder="输入关键字搜索">
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn btn-primary btn-lg btn-block">搜索</button>
						</div>
					</form>
				</div>
			</div>

		</div>

	</body>

</html>