<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/bootstrap-combined.min.css">

        <link rel="stylesheet" href="/static/css/july/font-awesome.css" />
        <link rel="stylesheet" href="/static/css/july/icon.css" />

        <script src="/static/js/jquery-2.0.0.min.js"></script>
        <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    </head>


<body>
    <div class="container-fluid">
	    <div class="row-fluid">
		<div class="span12">
			<span class="label"></span>
            {% if state == 'wait' %}
			<div class="alert">
			    <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>数据上传中!</strong> 您的数据正在上传，请稍后...
			</div>
            {% elif state == 'ok' %}
			<div class="alert alert-success">
			    <button type="button" class="close" data-dismiss="alert">×</button>
				<h4>提示信息!</h4>
                <br>
                <strong>恭喜!</strong> 您的视频已经上传成功.
			</div>
            {% else %}
			<div class="alert">
			    <button type="button" class="close" data-dismiss="alert">×</button>
				<h4>提示信息!</h4>
                <br>
                <strong>抱歉!</strong> 上传失败，请检查信息是否填写完整.
			</div>
            {% endif %}
		</div>
	    </div>
    </div>

</body>
</html>
